In [1]:
a=(90,90,90,90)
#true if elemen in a all same

print(all(elem==a[0] for elem in a))

True

In [2]:
tA = (90, 90, 90, 90)

result = all(x == tA[0] for x in tA)

print(result)

True

In [17]:
d = ('Kenya lihduahem hwdhqw','71231025','yogya')
nama = d[0]
nim = d[1]
alamat = d[2]
print('NIM      =',nim)
print('NAMA     =',nama)
print('ALAMAT   =',alamat)
a = tuple(nim)
print('\nNim =',a)
rev = nama.split()[::-1]
print('\nNama Terbalik =',rev)

NIM      = 71231025
NAMA     = Kenya lihduahem hwdhqw
ALAMAT   = yogya

Nim = ('7', '1', '2', '3', '1', '0', '2', '5')

Nama Terbalik = ['hwdhqw', 'lihduahem', 'Kenya']

In [3]:
t=("Matahari Bhakti Nendya","22064091","Bantul, DI Yogyakarta")
(nama, nim, alamat)=t
nama_kebalik=str(t[0]).split()
nama_kebalik.reverse()
p=nama.split()
q=tuple(p[0])
x=tuple(q[1:])
print(f"Nim    : {nim}\nNama   : {nama}\nAlamat : {alamat}")
print(f"\nNim: {tuple(t[1])}\nNama depan: {tuple(x)}\nNama Terbalik: {tuple(nama_kebalik)}")

Nim    : 22064091
Nama   : Matahari Bhakti Nendya
Alamat : Bantul, DI Yogyakarta

Nim: ('2', '2', '0', '6', '4', '0', '9', '1')
Nama depan: ('a', 't', 'a', 'h', 'a', 'r', 'i')
Nama Terbalik: ('Nendya', 'Bhakti', 'Matahari')